.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.nav-icon{
  display: flex;
  justify-content: space-around;
  background-color: rgb(46,46,46);
}

.icon{
  /* width: 100px; */
  height: 50px;
  color: white;
  margin-top: 30px;
  
}
p{
  color: white;
  margin-bottom: 30px;
}
.header{
  display: flex;
  justify-content: center;
  gap: 70px;
  font-size: larger;
  font-weight: bolder;
  background-color: rgb(46,46,46);
  color: white;
  /* margin-top: 10px; */
  height: 50px;
}
.header > div {
  margin-top: 10px;
}
.header-top{
  background-color: black;
  height: 10px;
}
.grid{
  display: grid;
  
  /* grid-template-columns: repeat(3, 200px); */
}



